@import "../utils/variables";

.button {
    padding: 1px 7px;
    color: $black;
    border-radius: 5px;
    outline: 1px solid $black;
    cursor: pointer;
    transition: background .4s, color .2s;

    &:hover {
        color: $white;
        background: rgba($black, 0.7);
    }

    &:active {
        color: $white;
        background: $black;
    }

    &--active {
        outline: 3px solid $green-400;

        &:hover {
            background: rgba($green-400, 0.4);
        }
    }
}