@import "../utils/variables";

.checkbox {
    display: flex;
    flex: none;
    width: $checkbox-size;
    height: $checkbox-size;
    border: 1px solid $black;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;

    &:hover {
        background: rgba($gray-300, .4);
    }

    &:checked {
        width: $checkbox-size;
        height: $checkbox-size;
        background: url("../icons/checkmark.svg") no-repeat;
        background-size: cover;
    }
}