@import "../utils/variables";

.task {
    display: flex;
    align-items: center;
    gap: clamp(5px, -0.229rem + 2.31vw, 20px);
    padding: $field-padding-vertical $field-padding-horizontal;
    color: $black;
    background: $white;
    border-bottom: 1px solid $gray-300;
    transition: all 0.2s;

    &--active {
        @extend .active;
    }

    &__title {
        flex: 1 1 auto;
        padding: 5px;
        word-break: break-all;
        border-radius: 5px;

        &--active {
            @extend .active;
        }
    }

    &__inner {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        flex: none;
        display: flex;
        align-items: center;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.2s;
    }

    &--finished {
        text-decoration: line-through;
        color: $gray-300;
    }

    &:hover &__btn {
        opacity: 1;
    }
}

@media (hover: none) {
    .task__btn {
        opacity: 1;
    }
}
