$border-radius: 10px;
$field-padding-horizontal: clamp(10px, 2.5vw, 20px);
$field-padding-vertical: clamp(7px, 2.5vw, 15px);
$checkbox-size: clamp(24px, 1.142rem + 1.53vw, 30px);
$input-indent: clamp(45px, 1.322rem + 6.36vw, 70px);

/* Colors */

$black: #1b1f2b;
$white: #fff;

$green-400: #286562;
$green-300: #3b7e7b;
$green-200: #627f7e;
$green-100: #e0f0e5;

$gray-300: #a6a6a6;
$gray-200: #d9dfdb;
$gray-100: #f1f3f2;
