$border-radius: 10px;
$field-padding-horizontal: clamp(10px, 2.5vw, 20px);
$field-padding-vertical: clamp(7px, 2.5vw, 15px);
$checkbox-size: clamp(24px, 1.142rem + 1.53vw, 30px);
$input-indent: clamp(45px, 1.322rem + 6.36vw, 70px);

/* Colors */

$black: #1B1F2B;
$white: #FFF;

$green-400: #286562;
$green-300: #3B7E7B;
$green-200: #627F7E;
$green-100: #E0F0E5;

$gray-300: #A6A6A6;
$gray-200: #D9DFDB;
$gray-100: #F1F3F2;