@import "../utils/variables";

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    @extend .p-normal;
    color: $white;
    background: $black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

.container {
    max-width: 660px;
    width: 100%;
    padding: 0 clamp(10px, 3vw, 30px);
    margin: 0 auto;
}

// Todos

.todos {
    &__inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__title {
        padding: 10px 0;
        @extend .h1;
        text-align: center;
    }

    &__header {
        position: relative;
    }

    &__input {
        width: 100%;
    }

    &__arrow {
        position: absolute;
        top: 55%;
        left: clamp(0px, -0.596rem + 2.54vw, 10px);
        z-index: 5;
        display: none;
        transform: translateY(-50%);
        cursor: pointer;
    }

    &__tasks {
        max-height: 60svh;
        background: $scrollbar-bg;
        border-radius: $border-radius;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollbar;
            border: 3px solid rgba(0, 0, 0, 0);
            border-radius: 10px;
            background-clip: padding-box;
        }
    }

    &__controls {
        position: relative;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px;
        @extend .p-small;
        color: $black;
        background: $white;
        border-bottom: 1px solid $gray-300;
        border-radius: $border-radius;

        &-text {
            font-weight: bold;
        }
    }

    &__text {
        flex: none;
    }

    &__filters {
        display: flex;
        flex: none;
        gap: 7px;
    }

    &__hint {
        @extend .p-small;
        text-align: center;
    }

    &__clear {
        position: relative;
        text-align: right;
        cursor: pointer;
        opacity: 1;
        transition:
            opacity 200ms ease,
            color 0.3s;

        &:hover {
            color: rgba($black, 0.6);
        }
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 425px) {
    .todos {
        &__controls {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 5px;
            grid-template-rows: repeat(2, 1fr);
        }
        &__filters {
            grid-row: 2;
            grid-column: span 2;
            justify-content: center;
        }

        &__tasks {
            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                border-width: 1px;
                background: rgba($black, .8);
            }
        }
    }
}
