@import "../utils/variables";

body {
    @extend .p-normal;
    font-family: Roboto, sans-serif;
    color: $white;
    font-style: normal;
    background: $black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
}

.container {
    max-width: 660px;
    width: 100%;
    padding: 0 clamp(10px, 3vw, 30px);
    margin: 0 auto;
}

// Todos

.todos {
    &__inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &__title {
        @extend .h1;
        padding: 10px 0;
        text-align: center;
    }

    &__wrapper {
        position: relative;
    }

    &__input {
        width: 100%;
    }

    &__arrow {
        display: block;
        position: absolute;
        top: 55%;
        left: clamp(0px, -0.596rem + 2.54vw, 10px);
        transform: translateY(-50%);
        z-index: 5;
        cursor: pointer;
    }

    &__tasks {
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__controls {
        @extend .p-small;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        border-radius: $border-radius;
        background: $white;
        color: $black;
        padding: 8px 10px;
        position: relative;
        justify-content: space-between;
        align-items: center;
        &-text {
            font-weight: bold;
        }
    }

    &__text {
        flex: none;
    }

    &__filters {
        display: flex;
        flex: none;
        gap: 7px;
    }

    &__hint {
        @extend .p-small;
        text-align: center;
    }

    &__clear {
        position: relative;
        cursor: pointer;
        opacity: 1;
        text-align: right;
        transition: opacity 200ms ease, color .3s;
        &:hover {
            color: rgba($black, .6);
        }
    }
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 425px) {
    .todos {
        &__controls {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 5px;
            grid-template-rows: repeat(2, 1fr);
        }
        &__filters {
            grid-row: 2;
            grid-column: span 2;
            justify-content: center;
        }
    }
}