@import "../utils/variables";

.button {
    padding: 3px 10px;
    border-radius: 5px;
    color: $black;
    border: 1px solid $black;
    cursor: pointer;
    transition: background .4s, color .2s;

    &:hover {
        background: rgba($black, 0.7);
        color: $white;
    }

    &:active {
        background: $black;
        color: $white;
    }
}