@import "../utils/variables";

.checkbox {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $black;
    cursor: pointer;
    transition: background .3s;

    &:hover {
        background: rgba($gray-300, .4);
    }

    &:checked {
        background: url("../icons/checkmark.svg") no-repeat;
        height: 30px;
        width: 30px;
        background-size: cover;
    }
}