@import "../utils/variables";

.input {
    @extend .p-normal;
    padding: $field-padding $field-padding $field-padding $input-indent;
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    background: $white;
    transition: all .3s;
    color: $black;
    position: relative;
    box-shadow: rgba($white, 0.1) 0 0 10px 3px;

    &::placeholder {
        color: $gray-300;
        font-style: italic;
    }

    &:focus {
        @extend .active;
    }
}