@import "../utils/variables";

.task {
    color: $black;
    padding: $field-padding-vertical $field-padding-horizontal;
    background: $white;
    display: flex;
    align-items: center;
    gap: clamp(5px, -0.229rem + 2.31vw, 20px);
    border-bottom: 1px solid $gray-300;
    transition: all .2s;

    &__title {
        word-break: break-all;
        flex: 1 1 auto;
        padding: 5px;
        border-radius: 5px;
        &--active {
            @extend .active;
        }
    }

    &__inner {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        opacity: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: opacity .2s;
    }

    &--finished {
        color: $gray-300;
        text-decoration: line-through;
    }

    &:hover &__btn {
        opacity: 1;
    }
}

@media (hover: none) {
    .task__btn {
        opacity: 1;
    }
}